




.homeTextContainer{

}


.homeText {
    direction: rtl;
    color: #20232a;
    font-family: 'Amiri', 'Changa' ,sans-serif;
    font-size: 20px;
    margin-right: 400px;
    margin-top: 10px;

}
.secHomeText{
    direction: rtl;
    color: #20232a;
    font-family: 'Amiri', 'Changa' ,sans-serif;
    font-size: 20px;
    margin-right: 400px;
    margin-top: 5px;
}

.homePic{
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 200;
}