body {
    margin:  0 ;
    padding: 0 ;
    background-color: #ececec;
    font-family: 'Roboto', 'Changa',sans-serif;
    /* background-image: url('./back.jpg');
    background-repeat: no-repeat !important;
  background-position: center !important; */

}
a {
    text-decoration: none;
}
