



.footer {
    margin-top: 110px;
    background:  #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.95;
    margin-bottom: 0%;
}


.logo img {
    height: 50px;
    padding: 5px;
    float: right;
}

.right {
    direction: rtl;
    /* flex-grow: 1; */
    color: #878787;
    font-size: 12px;
    float : right;
}