


.mainCardContainer{
    display: flex;
    background-color:#ececec;
    justify-content: center;

}


.leftCard {
    text-align: center;
    margin-top: 100px;
    width: 400px;
    height: 400px;
    background-color: #f8f9fa;   
    border-radius: 30px; 
}
 


.rightCard{
    margin-top: 100px;
    width: 400px;
    height: 400px;
    background-color: #f8f9fa;
    text-align: center;
    margin-left: 20px;
    border-radius: 30px;
}

a {
    text-decoration: none;
    color: inherit;

}

.mainTextContainer {

    margin-top: 30px;
    font-size: 30px;

}
.mainTextContainer :hover {
    background-color: antiquewhite;
}


.cardPic{
    font-size: 50px;
    margin-top: 30px;
}


.guideText{


    font-family: 'Amiri', 'Changa' ,sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #20232a;
    margin-top: 25px;

}