
.header {
    direction: rtl;
    background-color: #20232a;
    width: 100%;
    height: 60px;
    /* color: #61dafb; */
    font-size: 20px;
    opacity: 0.95;
    font-family: 'Roboto', 'Changa' ,sans-serif;    
}
.headText {
    text-align: center;
    color: #61dafb;
    margin-left: 31%;
    margin-top: 5px;
    font-weight: 600;
    font-size: 25px;
    position: sticky    
    
}



.headeropt {
    display: flex;
}

.logo {
    flex-grow: 1;
    padding-top: 1px;
    padding-right: 20px

}

.logo img {
    width: 60px;
    transition: width 2s;
}
.logo :hover {
    width: 120px
}

.Bars {
    padding-right: 11px;
    padding-top: 10px;
    font-size: 25px;
    color:#ffffff;
    font-weight: 300;
    
}


.searchIcon {
    margin-top: 15px;
    margin-left: 30px;
    direction: ltr;
    float: left;
    font-size: 15px;
    color: #ffffff;
    font-weight: 300;
}

.field {
    direction: ltr;
    margin-left: 50px;
    padding-top: 8px;

}
.field input {
    background-color: #18181a;
    color: #ffffff;
    font-weight: 300;
    border: 1px;
    border-color: #ffffff;
    cursor: pointer;    
    border-radius: 6px;
    padding: 5px;
}

.divSearch {
    margin-top: 8px;
}

