

.option {
    font-weight: 300;
    font-size: 22px;
    color: #ffffff;
    padding: 10px;
    border-top: 1px solid #404040;
}


.option a {
    text-decoration: none;
    color: inherit;
}


.option span {
    color: #ffffff;
    margin-left: 10px;
}